/**************Selectors***********************/

body {
	background-color: #FBF3E4;
}
hr {
	border-style: none;
	border-top:3px dotted #105652;
	height: 3px;
	width: 10%;
}

h1{
	color: #B91646;
}

h3{
	color: #B91646;
}

table{
	table-layout:fixed;
}

td{
	width:200px;
}

th{
	text-align:center;
}

ul{
	text-align:left;
}


/**********************Classes*****************************/

.hide{
	display:none;
}

.show:hover + .hide{
	display:block;
}

.tablecenter{
	margin-left:auto;
	margin-right:auto;
}

.divcenter{
	align:center;
}

.centered-wrapper {
    position: relative;
    text-align: center;
}
.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}
.centered-content {
    display: inline-block;
    vertical-align: middle;
}